/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bluebackground {
	-fx-background-color:linear-gradient(from 50% 0% to 50% 100%, #cfd3df 0%, #eff3ff 40%);
}
.button {
	-fx-background-color:#eff3ff;
}
.button:hover {
	-fx-background-color:#dcefff;
}
.button:pressed {
	-fx-background-color:#ccdeff;
}
.progress-bar {
	-fx-focus-color: transparent;
	-fx-accent: #dfe3ef;
}
.progress-bar > .track {
	-fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 0.20em;
}